@font-face {
    font-family: 'Gotham-Bold';
    src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
    font-family: 'Gotham-Book';
    src: url(../fonts/Gotham-Book.otf);
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url(../fonts/Gotham-Medium.otf);
}

@font-face {
    font-family: 'Gotham-Black';
    src: url(../fonts/Gotham-Black.otf);
}

@font-face {
    font-family: 'Gotham-Light';
    src: url(../fonts/Gotham-Light.otf);
}

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: 'PlayfairDisplay-BoldItalic';
    src: url(../fonts/PlayfairDisplay-BoldItalic.ttf);
}

@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url(../fonts/PlayfairDisplay-Italic.ttf);
}

@font-face {
    font-family: 'PlayfairDisplay-Medium';
    src: url(../fonts/PlayfairDisplay-Medium.ttf);
}

@font-face {
    font-family: 'PlayfairDisplay-MediumItalic';
    src: url(../fonts/PlayfairDisplay-MediumItalic.ttf);
}

@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

.container--large{
    width: 90%;
    margin: auto;
}

.home-hero-menu-link{
    display: flex;
    align-items: center;    
    border-radius: 50px;
    margin: 10px 0px;
    cursor: pointer;
    padding: 10px 30px;
    text-decoration: none !important;
}

.active.home-hero-menu-link{
    background: #FFFFFF;
    padding: 10px 30px;
}

.home-hero-menu-link--dots-only{
    padding: 0px 30px;
}

.home-hero-menu-link:hover:not(.home-hero-menu-link--dots-only){
    background: #FFFFFF;
    padding: 10px 30px;
}

.home-hero-menu-link:hover:not(.home-hero-menu-link--dots-only) .home-hero-menu-link__text{
    color: #035b44;
}

.home-hero-menu-link__text{
    font-family: 'Gotham-Bold';
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
}

.active .home-hero-menu-link__text{
    color: #035b44;
}

.home-hero-slide-dot{
    margin-right: 10px;
}

.home-hero{
    background-image: url(../images/home-hero-bk.png);
    padding-top: 250px;
    padding-bottom: 50px;
}

.bk-wrap{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-hero-wrap{
    display: flex;
    position: relative;
    padding-bottom: 250px;
}

.home-hero-slide-dot__img.active{
    display: none;
}

.active .home-hero-slide-dot__img{
    display: none;
}

.active .home-hero-slide-dot__img.active{
    display: block;
}

.home-hero-menu-link:hover:not(.home-hero-menu-link--dots-only) .home-hero-slide-dot__img{
    display: none;
}

.home-hero-menu-link:hover:not(.home-hero-menu-link--dots-only) .home-hero-slide-dot__img.active{
    display: block;
}

.home-hero-menu{
    width: 30%;
    max-width: 250px;
    margin-right: 150px;
    flex-shrink: 0;
}

.home-hero-menu-link--dots-only .home-hero-slide-dot__img{
    width: 4px;
    height: 20px;
}

.home-hero-slide-title{
    font-family: 'Gotham-Medium';
    color: #49b795;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 30px;
}

.home-hero-slide-desc-36{
    font-family: 'PlayfairDisplay-Regular';
    color: #FFFFFF;
    font-size: 36px;
    line-height: 65px;
}

.home-hero-slider{
    margin-top: 50px;
}

.header-logo__img{
    height: 45px;
}

.header-wrap{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-over{
    margin-top: -105px;
}

.home-hero-right{
    padding-right: 50px;
    width: calc(70% - 150px);
}

.home-accelerated-innovation{
    background: #035b44;
    padding-top: 100px;
}

.section-sub-title{
    color: #035b44;
    font-size: 30px;
    font-family: 'Gotham-Medium';
}

.section-sub-title-small{
    color: #035b44;
    font-size: 26px;
    font-family: 'Gotham-Medium';
}

.home-accelerated-note-desc{
    font-size: 26px;
    color: #596361;
    font-family: 'PlayfairDisplay-BoldItalic';
    margin-top: 20px;
}

.home-accelerated-note{
    background: #FFFFFF;
    padding: 70px 80px;
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    z-index: 1;
    box-shadow: 1px 1px 6px #c5c5c5;
}

.home-accelerated-result-number{
    font-family: 'Gotham-Book';
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 20px;
    color: #FFFFFF;   
}

.home-accelerated-result-name{
    font-family: 'Gotham-Medium';
    font-size: 24px;
    color: #FFFFFF;   
}

.home-accelerated-row{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.home-accelerated-col{
    width: calc(50% - 50px);
}

.home-accelerated-col--left{
    position: relative;
}

.home-accelerated-note-arrow-img{
    margin-top: 30px;
    height: 60px;
}

.home-future-desc{
    font-family: 'Gotham-Light';
    font-size: 46px;
    color: #596361;
    line-height: 70px;
}

.home-future-section{
    background-image: url(../images/home-future-bk.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 130px;
    position: relative;
}

.home-future-line-v{
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 50%);
    background: #035b44;
    width: 4px;
    height: 120px;
}

.home-accelerated-result-row-wrap{
    display: inline-block;
    padding: 30px 0px;
    padding-right: 80px;
    border-bottom: 4px solid #FFFFFF;
}

.home-accelerated-result-row:last-of-type .home-accelerated-result-row-wrap{
    border-bottom: 0px;
}

.home-dna-title{
    font-family: 'Gotham-Medium';   
    font-size: 56px;
    color: #035b44;
}

.home-dna-sub-title{
    color: #231f20;
    font-size: 44px;
    font-family: 'PlayfairDisplay-Bold';
    margin-bottom: 30px;
}

.section-desc{
    color: #596361;
    font-family: 'Gotham-Book';
    font-size: 20px;
}

.home-dna-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.link-wrap{
    margin-top: 50px;
}

.link{
    font-family: 'Gotham-Book';
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    padding: 15px 40px;
    display: inline-block;
}

.link:hover{
    text-decoration: none;
}

.link--green{
    color: #FFFFFF !important;
    background: #035b44;
}

.link--green:hover{
    color: #FFFFFF;
}

.link--outline{
    border: 2px solid #035b44;
    color: #035b44 !important;
    background: transparent;
}

.section-title-playfair{
    font-family: 'PlayfairDisplay-Bold';
    font-size: 44px;
    color: #231f20;   
    margin-bottom: 30px;
}

.home-image-desc-section{
    padding-top: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-image-desc-section-wrap{
    width: 50%;
    margin-right: auto;
    margin-left: 0px;
}

.home-image-desc-section-align--right .home-image-desc-section-wrap{
    margin-left: auto;
    margin-right: 0px;
}

.home-image-desc-section-content{
    background: #FFFFFF;
    padding: 50px;
    border-left: 4px solid #49b795;
}

.home-questions-section{
    padding-top: 100px;   
    padding-bottom: 100px;
}

.section-title-underline{
    text-align: center;
    margin-bottom: 50px;
}

.section-title-underline__text{
    position: relative;
    font-size: 48px;
    color: #035b44;
    font-family: 'PlayfairDisplay-Bold';   
    display: inline-block;
}

.section-title-underline__text::after{
    content: '';
    position: absolute;
    left: 25%;
    width: 50%;
    bottom: -20px;
    height: 4px;
    background: #035b44;
}

.home-question-row{
    background: #f9f9f9;
    border-bottom: 1px solid #dbdcdd;
}

.home-question-row.open{
    background: #035b44;
}

.home-question-header{
    padding: 40px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.home-question-q-text{
    font-size: 21px;
    color: #596361;
    font-family: 'Gotham-Book';
    margin-right: 20px;   
}

.open .home-question-q-text{
    color: #FFFFFF;
}

.home-question-body{
    font-size: 21px;
    color: #596361;
    font-family: 'Gotham-Book';
}

.open .home-question-body{
    color: #FFFFFF;
}

.home-question-icon.closed{
    display: none;
}

.open .home-question-icon.closed{
    display: block;
}

.open .home-question-icon.open{
    display: none;
}

.home-question-body{
    display: none;
    padding: 40px 70px;
}

.home-question-icon{
    height: 25px;
}

.home-questions-list{
    margin-top: 100px;
}

.footer-top{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #035b44;
}

.footer-top-col-logo{

}

.footer-top-logo-wrap{
    margin-bottom: 30px;
}

.footer-top-logo-img{
    max-height: 60px;
    width: 100%;
    height: auto;
}

.footer-top-desc{
    font-family: 'Gotham-Book';
    color: #FFFFFF;
    font-size: 18px;   
}

.footer-top-col-menu,
.footer-top-col-socials{
    /* padding-top: 90px; */
}

.footer-top-col-menu{
    display: flex;
    justify-content: center;
}

.footer-link{
    font-family: 'Gotham-Medium';
    color: #FFFFFF !important;
    font-size: 19px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-link:hover{
    text-decoration: none;
}

.footer-social-title{
    font-family: 'Gotham-Medium';
    color: #FFFFFF !important;
    font-size: 19px;
    text-transform: uppercase;   
}

.footer-social-link{
    display: inline-block;
    margin: 0px 10px;
}

.footer-social-link:first-of-type{
    margin-left: 0px;
}

.footer-social-link:last-of-type{
    margin-right: 0px;
}

.footer-bottom{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #05563f;
}

.footer-copyright{
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Gotham-Book';
}

.footer-bottom-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bottom-link{
    margin: 0px 10px;
    font-size: 18px;
    color: #FFFFFF !important;
    font-family: 'Gotham-Book';
    text-decoration: none;
}

.footer-bottom-link:hover{
    color: #FFFFFF;
}

.footer-social-icon__img{
    width: 35px;
}

.footer-social-links{
    margin-top: 10px;
}

.footer-subscribe-form-title{
    font-size: 19px;
    color: #FFFFFF;
    font-family: 'Gotham-Medium';
    padding-left: 40px;
    margin-bottom: 20px;
}

.footer-subscribe-form-wrap{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.footer-subscribe-form-btn{
    font-family: 'Gotham-Bold';
    font-size: 19px;
    color: #FFFFFF;
    padding: 20px 40px;
    border: 1px solid #FFFFFF;
}

.footer-subscribe-form-wrap [type="text"]{
    background: #FFFFFF;
    outline: none;
    border: 0px;
    padding: 20px 40px;
    font-family: 'Gotham-Book';
    font-size: 19px;
    color: #a6a8ab;
    flex-grow: 1;
}

.footer-subscribe-form-wrap [type="input"]::-webkit-input-placeholder { /* Edge */
    color: #5c5f63;
}
  
.footer-subscribe-form-wrap [type="input"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #5c5f63;
}
  
.footer-subscribe-form-wrap [type="input"]::placeholder {
    color: #5c5f63;
}

.footer-subscribe-form{
    margin-top: 50px;
}

.home-hero-slick-dots{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 13px;
    left: 400px;
}

.home-hero-slick-dot{
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0px 5px;
    cursor: pointer;
}

.home-hero-slick-dot.active{
    border: 2px solid #49b795;
    background: #49b795;
}

.home-hero-drop-down-icon-wrap{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    justify-content: center;
    cursor: pointer;
}

.home-hero-drop-down-icon-wrap-img{
    width: 15px;
}

.home-hero-search-icon-wrap-img{
    width: 20px;
}

.home-hero-search-icon-wrap{
    position: absolute;
    right: 0px;
    bottom: 10px;
    cursor: pointer;
    display: none;
}

.header-logo__img--color{
    display: none;
}

.header--white-bk .header-logo__img--color{
    display: block;
}

.header--white-bk .header-logo__img--white{
    display: none;
}

.header-hamburger-icon__img{
    height: 20px;
    display: none;
}

.header-hamburger-icon__img--color{
    display: none;
}

.header--white-bk .header-hamburger-icon__img--color{
    display: none;
}

.header--white-bk .header-hamburger-icon__img--white{
    display: none;
}

.firm-video-wrap{
    margin-top: 50px;
    background: #035b44;
    padding: 70px;
    position: relative;
}

.firm-video-img-wrap{
    width: 100%;
    height: 0px;
    padding-top: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.firm-video-img-wrap.play-video{
    background-image: none !important;
}

.firm-video-play-btn{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.firm-video-play-btn__img{
    width: 80px;
}

.firm-video-logo-icon-img{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 35px;
}

.firm-main-section{
    padding-top: 80px;
    padding-bottom: 80px;
}

.header--white-bk{
    border-bottom: 2px solid #e8e9e9;
}

.firm-history-year{
    font-family: 'PlayfairDisplay-Regular';
    font-size: 70px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
}

.firm-history-desc{
    font-family: 'Gotham-Book';
    font-size: 26px;
    color: #FFFFFF;   
    text-align: center;
    padding-bottom: 80px;
}

.firm-history-section{
    padding-top: 80px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.firm-history-section .section-sub-title{
    color: #49b795;
}

.firm-history-slider .slick-dots li{
    width: 15px;
    height: 15px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.firm-history-slider .slick-dots li.slick-active{
    background: #49b795;
    border: 2px solid #49b795;
}

.firm-history-slider .slick-dots li button:before{
    display: none;
}

.firm-desc-section{
    padding-top: 80px;
    padding-bottom: 80px;
}

.firm-desc-section .home-dna-sub-title{
    text-align: center;
}

.firm-introduction-section{
    display: flex;
    justify-content: space-between;
}

.firm-introduction-col{
    width: 33.33%
}

.firm-introduction-col:nth-of-type(1){
    background: #f5f5f5;
}

.firm-introduction-col:nth-of-type(2){
    background: #efefef;
}

.firm-introduction-col:nth-of-type(3){
    background: #e8e8e8;
}

.firm-introduction-col-wrap{
    padding: 80px 60px;
}

.firm-introduction-title{
    font-size: 35px;
    color: #035b44;
    font-family: 'PlayfairDisplay-Bold';
    margin-bottom: 20px;
}

.firm-introduction-desc{
    font-size: 21px;
    color: #596361;
    font-family: 'Gotham-Book';   
}

.firm-history-slider-container{
    position: relative;
}

.firm-history-slider-prev-icon{
    position: absolute;
    left: 0px;
    top: 50%;
    cursor: pointer;
}

.firm-history-slider-next-icon{
    position: absolute;
    right: 0px;
    top: 50%;
    cursor: pointer;
}

.firm-history-slide{
    padding: 0px 50px;
}

.video-iframe-wrap{
    width: 100%;
    height: 0px;
    padding-top: 60%;
    position: relative;
}
  
.video-iframe-wrap video{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

#firm_video_modal{
    width: 50%;
    min-width: 600px;
}

.section-title{
    font-family: 'PlayfairDisplay-Bold';
    font-size: 42px;
    color: #FFFFFF;   
    line-height: 60px;
}

.strategies-hero-section{
    padding-top: 150px;
    padding-bottom: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.strategies-desc-section{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #f9f9f9;
}

.strategies-desc-section-text1{
    color: #035b44;
}

.strategies-logo-desc-block-top{
    box-shadow: 1px 1px 15px #d3d2d2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-bottom: 40px;
}

.strategies-logo-desc-block-logo__img{
    height: 60px;
}

.strategies-logo-desc-block--small .strategies-logo-desc-block-logo__img{
    height: 40px;
}

.strategies-logo-desc-block-sep-line{
    background: #929497;
    width: 1px;
    height: 80px;
    margin: 0px 20px;
    flex-shrink: 0;
}

.strategies-logo-desc-block--small .strategies-logo-desc-block-sep-line{
    height: 50px;
}

.strategies-logo-desc-block-title{
    font-size: 36px;
    font-family: 'Gotham-Medium';
    color: #929497;
}

.strategies-logo-desc-block--small .strategies-logo-desc-block-title{
    font-size: 25px;
}

.strategies-logo-desc-block{
    margin-bottom: 80px;
}

.strategies-logos-section{
    padding-top: 80px;
}

.why-practice-section{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #035b44
}

.why-practice-arrow-down__img{
    margin-top: 30px;
    height: 70px;
}

.why-practice-section .section-desc{
    color: #FFFFFF
}

.why-title-desc-section{
    padding-top: 80px;
    padding-bottom: 50px;
}

.why-title-block{
    margin-bottom: 60px;
    text-align: center;
}

.why-call-section-title{
    font-size: 55px;
    color: #035b44;
    font-family: 'PlayfairDisplay-BoldItalic';
    text-align: center;
}

.why-call-section{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #f9f9f9;
}

.why-diversity-section{
    padding-top: 130px;
    padding-bottom: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.why-diversity-col-wrap{
    background: #FFFFFF;
    padding: 70px 50px;
    border-left: 7px solid #49b795;
}

.why-diversity-section .section-sub-title-small{
    margin-bottom: 40px;
}

.why-desc-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.why-desc-section .section-desc{
    text-align: center;
}

.contact-form-input-wrap{
    margin-bottom: 30px;
}

.contact-form-input-wrap input,
.contact-form-input-wrap select,
.contact-form-input-wrap textarea{
    width: 100%;
    border: 0px;
    outline: none;
    font-size: 21px;
    font-family: 'Gotham-Book';
    padding: 20px 30px;   
    color: #58595b;
    border-bottom: 1px solid #035b44;
    background: #FFFFFF;
}

.contact-form-input-wrap textarea{
    resize: none;
}

.contact-form-input-wrap select{
    background: #035b44;
    color: #FFFFFF;
    background-image: url(../images/icon-dropdown.png);
    -webkit-appearance: none;
    background-position-x: calc(100% - 30px);
    background-repeat: no-repeat;
    background-position-y: 50%;
}

.contact-form-section{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #f9f9f9;
}

.contact-desc-text{
    color: #596361;
    text-align: center;
    font-size: 26px;
    font-family: 'PlayfairDisplay-BoldItalic';
}

.contact-desc-section{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #f5f5f5;
}

.firm-video-img-wrap video{
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 100%;
    background: #000000;
}

.footer-top-col-menu--mobile{
    display: none;
}

.strategies-hero-section .section-title{
    color: #49b795
}

.mobile-menu{
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background: #035b44;
    z-index: 100;
    display: none;
}

.mobile-menu-close__img{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.mobile-menu-open{
    overflow: hidden;
}