.scenario-wrap{
    background-image: linear-gradient(to right, #a376fc, #f96f9b);
    background-repeat: repeat-x;
    color: #FFFFFF;
    border: 0px;
}

.btn-gradient{
    background-image: linear-gradient(to right, #a376fc, #f96f9b);
    background-repeat: repeat-x;
    color: #FFFFFF;
    border: 0px;
}

.btn-gradient:hover{
    color: #FFFFFF;
}